<h2>Add Trainer</h2>

<form action="/" method="post" >
  <label>Name:</label>
  <input name="name">

  <label>ID:</label>
  <input name="id">

  <label>Level:</lable>
  <input name="level">

  <input type="submit" value="Add">
</form>

<h2>Remove Trainer</h2>

<form action="/trainers" method="post" >
  <label>Name:</label>
  <input name="name">

  <label>ID:</label>
  <input name="id">

  <input type="submit" value="Remove">
</form>
