<a href='/'>Back to Trainers</a>
<div class="trainer">
  <img src="<%= @trainer.img_url %>">
  <p>Trainer Name: <%= @trainer.name %></p>
  <p>Trainer ID: <%= @trainer.id %></p>
  <p>Trainer Level: <%= @trainer.level %></p>
</div>
